Button.blanc {
	-fx-background-color: white;
}

Button.noir {
	-fx-background-color: black;
}

Button.plateau-case {
	-fx-background-image: url("../../../../../images/Case_vide.png"); 
	-fx-background-color: green;	
}